<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!--<xacro:include filename="$(find mp500lwa4d_description)/urdf/common.xacro" />-->

    <gazebo reference="arm_base_link">
        <gravity>true</gravity>
        <self_collide>false</self_collide>
        <material value="Gazebo/Black"/>
    </gazebo>

    <gazebo reference="arm_1_link">
        <gravity>true</gravity>
        <self_collide>false</self_collide>
        <material value="Gazebo/Grey"/>
    </gazebo>

    <gazebo reference="arm_2_link">
        <gravity>true</gravity>
        <self_collide>false</self_collide>
        <material value="Gazebo/Black"/>
    </gazebo>

    <gazebo reference="arm_3_link">
        <gravity>true</gravity>
        <self_collide>false</self_collide>
        <material value="Gazebo/Grey"/>
    </gazebo>

    <gazebo reference="arm_4_link">
        <gravity>true</gravity>
        <self_collide>false</self_collide>
        <material value="Gazebo/Black"/>
    </gazebo>

    <gazebo reference="arm_5_link">
        <gravity>true</gravity>
        <self_collide>false</self_collide>
        <material value="Gazebo/Grey"/>
    </gazebo>

    <gazebo reference="arm_6_link">
        <gravity>true</gravity>
        <self_collide>false</self_collide>
        <material value="Gazebo/Black"/>
    </gazebo>

    <gazebo reference="arm_7_link">
        <gravity>true</gravity>
        <self_collide>false</self_collide>
        <material value="Gazebo/Grey"/>
    </gazebo>

</robot>