<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
        
      <!-- Base Link -->
      <gazebo reference="base_link">
          <turnGravityOff>false</turnGravityOff>
      </gazebo>

      <!-- Left Wheel -->
      <gazebo reference="wheel_left_link">
          <turnGravityOff>false</turnGravityOff>
          <mu1>1.0</mu1>
          <mu2>1.0</mu2>
          <kp>10000000.0</kp>
          <kd>1.0</kd>
          <fdir1 value="1 0 0"/>
      </gazebo>
      <!-- Right Wheel -->
      <gazebo reference="wheel_right_link">
          <turnGravityOff>false</turnGravityOff>
          <mu1>1.0</mu1>
          <mu2>1.0</mu2>
          <kp>10000000.0</kp>
          <kd>1.0</kd>
          <fdir1 value="1 0 0"/>
      </gazebo>
      
      <!-- Castor -->
      <gazebo reference="hanger">
          <turnGravityOff>false</turnGravityOff>
          <mu1>0.0</mu1>
          <mu2>0.0</mu2>
      </gazebo>

      <gazebo reference="castor_front">
          <turnGravityOff>false</turnGravityOff>
          <mu1>0.0</mu1>
          <mu2>0.0</mu2>
      </gazebo>

</robot>
