<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="gripper_podest_link">
      <gravity>true</gravity>
      <self_collide>false</self_collide>
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="gripper_palm_link">
      <gravity>true</gravity>
      <self_collide>true</self_collide>
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="gripper_finger_left_link">
      <gravity>true</gravity>
      <self_collide>false</self_collide>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="gripper_finger_right_link">
      <gravity>true</gravity>
      <self_collide>false</self_collide>
      <material>Gazebo/Grey</material>
    </gazebo>

</robot>